name: Check Terraform

on: 
  pull_request: 
    branches: 
      - main
    types: [opened, synchronize, reopened]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write
  pull-requests: write

jobs: 
  
  initialize-and-plan-prod: 
    name: Terraform Plan Production
    runs-on: ubuntu-latest
    defaults: 
      run: 
        working-directory: infra
    steps: 
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to AWS
        uses: aws-actions/configure-aws-credentials@v4
        with: 
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: mx-central-1

      - name: Run Terraform Plan (Production)
        uses: ./.github/actions/terraform-plan
        with: 
          environment: production
          environment-config-file: ./envs/production.config
          variable-file: ./vars/production.tfvars
          terraform-root: ./infra

