name: Deploy Terraform

on: 
  push: 
    branches: 
      - main
  
permissions:
  contents: read
  id-token: write
  pull-requests: write

jobs: 

  plan-and-deploy-staging: 
    name: Terraform Deploy Staging
    runs-on: ubuntu-latest
    environment: staging
    defaults: 
      run: 
        working-directory: infra
    steps: 
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Terraform Deploy (Staging)
        uses: ./.github/actions/terraform-deploy
        with: 
          environment: staging
          aws-region: mx-central-1
          aws-account: ${{ vars.AWS_ACCOUNT }}
          environment-config-file: ./envs/staging.config
          variable-file: ./vars/staging.tfvars
          terraform-root: ./infra
  
  plan-and-deploy-prod: 
    name: Terraform Deploy Production
    runs-on: ubuntu-latest
    environment: production
    needs: plan-and-deploy-staging
    defaults: 
      run: 
        working-directory: infra
    steps: 
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Terraform Deploy (Production)
        uses: ./.github/actions/terraform-deploy
        with: 
          environment: staging
          aws-region: mx-central-1
          aws-account: ${{ vars.AWS_ACCOUNT }}
          environment-config-file: ./envs/production.config
          variable-file: ./vars/production.tfvars
          terraform-root: ./infra