name: Deploy Terraform

on: 
  push: 
    branches: 
      - main
  
permissions:
  contents: read
  id-token: write
  pull-requests: write

jobs: 
  
  deploy-prod: 
    name: Terraform Deploy Production
    runs-on: ubuntu-latest
    environment: production
    defaults: 
      run: 
        working-directory: infra
    steps: 
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: mx-central-1    

      - name: Terraform Deploy (Production)
        uses: ./.github/actions/terraform-deploy
        with: 
          environment: production
          environment-config-file: ./envs/production.config
          variable-file: ./vars/production.tfvars
          terraform-root: ./infra