name: Terraform Plan

on: 
  pull_request: 
    branches: 
      - main
    types: [opened, synchronize, reopened]
  push:

permissions:
  contents: read
  id-token: write
  pull-requests: write

jobs: 

  plan-staging: 
    name: Terraform Plan Staging
    runs-on: ubuntu-latest
    environment: staging
    defaults: 
      run: 
        working-directory: infra
    steps: 
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Terraform Plan (Staging)
        uses: ../.github/actions/terraform-plan
        with: 
          environment: staging
          aws-region: mx-central-1
          aws-account: ${{ vars.AWS_ACCOUNT }}
          environment-config-file: ./infra/envs/staging.config
          terraform-root: infra
  
  plan-production: 
    name: Terraform Plan Production
    runs-on: ubuntu-latest
    environment: production
    defaults: 
      run: 
        working-directory: infra
    steps: 
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Terraform Plan (Production)
        uses: ../.github/actions/terraform-plan
        with: 
          environment: staging
          aws-region: mx-central-1
          aws-account: ${{ vars.AWS_ACCOUNT }}
          environment-config-file: ./infra/envs/production.config
          terraform-root: infra
